/* styles-common-start */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins" , sans-serif;
  font-size: 16px;
}
nav {
  height:78px;
  background: #fff;
  padding: 0 15px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
a {
  color: #0080ff;
  text-decoration: none;
}
.menu,
.submenu {
  list-style-type: none;
}
.logo {
  font-size: 26px;
  padding: 7.5px 10px 7.5px 0;
}
.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}

.item .button,
.item .button.secondary
.item a:hover::after {
  color: #000000;
}
/* styles-common-end */

/* navbar-menu-start */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  position: relative;
  background-color: rgb(255, 255, 255);
  display: block;
}
.button.secondary { /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
/* navbar-menu-end */

/* navbar-submenu-start */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-family:'Font Awesome 5 Free';
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: #0080ff;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: rgb(241, 239, 239);
  border-radius: 8px;
}
/* navbar-submenu-end */


/* navbar-menu-responsive */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: 120px;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }
  .button a {
    color: #0080ff;
    border-radius: 50px;
    background: #ffffff;
    border: 2px #0080ff solid;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    color:#fff;
    border-radius: 50px;
    background: #0080ff;
    border: 2px #0080ff solid;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button a:hover {
    color:#6f00ff;
    background: #c0a5eb;
    border-color: #6f00ff;
  }
}
/* navbar menu responsive end */


/* navbar responsive */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: rgb(241, 239, 239);
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
}
/* navbar responsive end */